<div class="form-group">
	<div class="form-group__text cui-select" *ngIf="!mobile" (mouseover)="enterInput()" (mouseleave)="leaveInput()" [ngClass]="{ 'focused': dropdownVisible }">
		<input #cuiSelectInput type="text" class="cui-select-search text-ellipsis" [ngClass]="{'disabled': disabled}" name="select-{{guid}}" [title]="inputTitle" [(ngModel)]="searchText" [required]="required" [disabled]="disabled" [attr.tabindex]="tabIndex" autocomplete="off" (input)="onSearchChange($event)" [placeholder]="placeholder">
		<button type="button" id="select-clear-{{guid}}" class="link" *ngIf="searchText && empty" style="position: absolute; top: 5px; right: 20px;" (click)="clearSearchText($event)">
			<span class="icon-close"></span>
		</button>
		<label [innerHTML]="label"></label>
		<div class="required-block" *ngIf="required">
			<span class="icon-asterisk"></span>
		</div>
		<span class="select-caret icon-dropdown"></span>
	</div>
	<div class="cui-select-dropdown" [dropdownPaginator]="paginate" dropdownKeyControl [fullDataset]="filteredItems" (onEnterKey)="onEnterKey($event)" *ngIf="dropdownVisible && !grouped" [(dropdownVisible)]="dropdownVisible" (mouseover)="enterDropdown()" (mouseleave)="leaveDropdown()">
		<div class="select-all-row" *ngIf="multiSelect && selectAllEnabled" [ngClass]="{'selected': allSelected()}" (click)="toggleSelectAll()">
			<span></span>
			<i class="check icon-check"></i>
			<span [innerHTML]="multiModelString"></span>
		</div>
		<div class="cui-select-dropdown-option" #dropdownOption *ngFor="let item of filteredItems | slice: paginator?.start : paginator?.start + paginator?.size" (click)="selectItem(item, $event)" [ngClass]="{'selected': item.selected}">
			<span *ngIf="multiSelect || item.selected"></span>
			<i class="check icon-check"></i>
			<span *ngIf="!multiSelect && !item.selected" style="display: none"></span>
			<span [innerHTML]="getItemDisplayName(item)"></span>
		</div>
	</div>
	<div class="cui-select-dropdown" *ngIf="dropdownVisible && grouped" [(dropdownVisible)]="dropdownVisible" dropdownKeyControl [fullDataset]="filteredItems" (onEnterKey)="onEnterKey($event)" (mouseover)="enterDropdown()" (mouseleave)="leaveDropdown()">
		<div class="select-all-row" *ngIf="multiSelect && selectAllEnabled" [ngClass]="{'selected': allSelected()}" (click)="toggleSelectAll()">
			<span></span>
			<i class="check icon-check"></i>
			<span [innerHTML]="multiModelString"></span>
		</div>
		<div class="cui-select-group" *ngFor="let group of filteredItems">
			<span class="cui-select-group-header" [innerHTML]="group.name"></span>
			<div class="cui-select-dropdown-option" #dropdownOption *ngFor="let item of group.items" (click)="selectItem(item, $event)" [ngClass]="{ 'selected': item.selected }">
				<span *ngIf="multiSelect || item.selected"></span>
				<i class="check icon-check"></i>
				<span *ngIf="!multiSelect && !item.selected" style="display: none"></span>
				<span [innerHTML]="getItemDisplayName(item)"></span>
			</div>
		</div>
	</div>
	<div class="form-group__text select" *ngIf="mobile">
		<select class="mobile-select" name="select-{{guid}}" *ngIf="!grouped" (change)="onMobileSelectionChanged($event)" [(ngModel)]="selection" [required]="required" [disabled]="disabled" [multiple]="multiSelect">
			<option *ngFor="let item of filteredItems" [value]="item" [innerHTML]="getItemDisplayName(item)"></option>
		</select>
		<select class="mobile-select" name="select-{{guid}}" *ngIf="grouped" (change)="onMobileSelectionChanged($event)" [(ngModel)]="selection" [required]="required" [disabled]="disabled"  [multiple]="multiSelect">
			<optgroup *ngFor="let group of filteredItems" [label]="group.name">
				<option *ngFor="let item of group.items" [value]="item" [innerHTML]="getItemDisplayName(item)"></option>
			</optgroup>
		</select>
		<label *ngIf="label" [innerHTML]="label"></label>
		<div class="required-block" *ngIf="required">
			<span class="icon-asterisk"></span>
		</div>
	</div>
</div>
