<div class="responsive-table">
  <table class="table" [ngClass]="{'table--bordered': options.bordered, 'table--nostripes': !options.striped, 'table--hover': options.hover, 'table--wrap': options.wrapText, 'table--compressed': options.padding === 'compressed', 'table--loose': options.padding === 'loose'}">
    <thead>
      <tr>
        <th *ngIf="options.selectable">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="allSelected" (click)="toggleAllSelected()"/>
            <span class="checkbox__input"></span>
          </label>
        </th>
        <th *ngFor="let column of options.columns" [ngClass]="{'sortable': column.sortable, 'sorted': column.sorting}" [ngStyle]="{'width': column.width}" (click)="sortTable(column)">
          <span>{{column.name}}</span>
          <span [ngClass]="{'icon-chevron-down': column.sortDirection === 'asc', 'icon-chevron-up': column.sortDirection === 'desc'}" *ngIf="column.sorting"></span>
        </th>
      </tr>
    </thead>
    <tbody>
			<ng-container *ngFor="let item of getDisplayedData()">
				<tr>
					<td *ngIf="options.selectable">
						<label class="checkbox">
							<input type="checkbox" [(ngModel)]="item.tableSelected" (ngModelChange)="onItemSelectedChange($event)"/>
							<span class="checkbox__input"></span>
						</label>
					</td>
					<td *ngFor="let column of options.columns">
						<ng-container *ngIf="column.template else columnRender">
							<ng-container *ngTemplateOutlet="column.template; context: {celltemplate:column,celldata:item}"></ng-container>
						</ng-container>
						<ng-template #columnRender>
							<span [innerHtml]="column.render(item)"></span>
						</ng-template>
					</td>
					<td *ngIf="options.rowWellTemplate">
						<a class="link" (click)="item.toggleWell = !item.toggleWell">
							<span class="icon-small" [ngClass]="{ 'icon-chevron-up': item.toggleWell, 'icon-chevron-down': !item.toggleWell }"></span>
						</a>
					</td>
				</tr>
				<tr *ngIf="options.rowWellTemplate && item.toggleWell" class="no-highlight fade well ng-scope">
					<td [attr.colspan]="options.selectable ? (options.columns.length + 2) : (options.columns.length + 1)">
						<div class="panel panel--ltgray panel--well">
							<ng-container *ngTemplateOutlet="options.rowWellTemplate; context: {item: item}"></ng-container>
						</div>
					</td>
				</tr>
			</ng-container>
    </tbody>
  </table>
</div>
