@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~cisco-ui/src/scss/utilities/_mixins.scss';
.cui-pager {
    @include flex-center-vertical;
    justify-content: flex-end;
    position: relative;

    span + span:before {
        @include vertical-divider;
        content: ' ';
    }
}