<footer class="footer footer--new" [ngClass]="{'footer--basic': !showLegal, 'footer--compressed': padding === 'compressed', 'footer--loose': padding === 'loose'}">
  <div class="footer__links">
    <ul class="list">
      <li *ngFor="let link of links">
        <a [href]="link['url']" target="_blank">{{link['label']}}</a>
      </li>
    </ul>
  </div>
  <div class="footer__legal" *ngIf="showLegal">
    <div class="footer__logo">
      <a href="http://www.cisco.com" target="_blank">
        <span class="icon-cisco"></span>
      </a>
    </div>
    <div class="footer__copyright">
      <div>Copyright &copy; 2017 Cisco Systems Inc.</div>
      <div>All rights reserved.</div>
    </div>
  </div>
</footer>