<div class="form-group" [ngClass]="{'form-group--helper': options.helperText || errorMessage, 'input--invalid' : error}" *ngIf="type !== 'switch'">
  <div class="form-group__text" *ngIf="type !== 'radio' && type !== 'checkbox'">
    <input #inputFocus *ngIf="type !== 'number' && type !== 'textarea'" id="input-{{guid}}" [(ngModel)]="model" [pattern]="options.match" type="{{type}}" [required]="options.required" (ngModelChange)="onChange()">
    <input #inputFocus *ngIf="type === 'number'" id="input-{{guid}}" [(ngModel)]="model" [min]="options.min" [max]="options.max" [step]="options.step" type="number" [required]="options.required" (ngModelChange)="onChange()">
    <textarea #inputFocus *ngIf="type === 'textarea'" id="input-{{guid}}" [(ngModel)]="model" [pattern]="options.match" [rows]="options.rows" [required]="options.required" (ngModelChange)="onChange()"></textarea>
    <label for="input={{guid}}" *ngIf="label">{{label}}</label>
    <div class="required-block" *ngIf="options.required">
      <span class="icon-asterisk" title="{{options.helperText}}"></span>
    </div>
  </div>
  <div *ngIf="type === 'radio'">
    <label class="radio radio--alt" *ngFor="let item of items">
      <input type="radio" [value]="item['value']" [(ngModel)]="model" (ngModelChange)="onChange()">
      <span class="radio__input"></span>
      <span class="radio__label">{{item['name']}}</span>
    </label>
    <div class="clearfix"></div>
  </div>
  <div *ngIf="type === 'checkbox'">
    <label class="checkbox" *ngFor="let item of items">
      <input type="checkbox" [(ngModel)]="item['selected']" (ngModelChange)="onChange()">
      <span class="checkbox__input"></span>
      <span class="checkbox__label">{{item['name']}}</span>
    </label>
  </div>
  <div *ngIf="options.helperText && (!errorMessage || !model)" class="help-block text-{{options.helperLevel}}" (ngModelChange)="onChange()">
    <span [ngClass]="{'icon-exclamation-triangle': options.helperLevel === 'warning', 'icon-error': options.helperLevel === 'danger', 'icon-info-circle': options.helperLevel === 'info', 'icon-check': options.helperLevel === 'success'}"></span>
    <span>{{options.helperText}}</span>
  </div>
	<div *ngIf="model && error && errorMessage" class="help-block text-danger">
		<span class="icon-error"></span>
		<span>{{errorMessage}}</span>
	</div>
</div>
<div *ngIf="options && model && options.maxLength && (type === 'text' || type === 'textarea')">
	<span class="pull-right half-margin-right text-muted">{{maxLengthString}}</span>
	<div class="clearfix"></div>
</div>
<label class="switch" *ngIf="type === 'switch'">
  <input type="checkbox" [(ngModel)]="model" (ngModelChange)="onChange()">
  <span class="switch__input">
    <span class="{{options.leftIcon}}" *ngIf="options.leftIcon"></span>
    <span class="{{options.rightIcon}}" *ngIf="options.rightIcon"></span>
  </span>
  <span class="switch__label" *ngIf="label">{{label}}</span>
</label>